.Nav {
  color: #fff;
  font-size: 3rem;
  letter-spacing: .3rem;
  border-bottom: 5px solid #FF6347;
  margin-bottom: 2rem;
  margin-left: -1.5rem; 
  margin-right: -1.5rem; 
}
.Nav h1 {
  font-weight: 800;
}

.Nav h1 i {
  font-size: 4rem;
  margin: 1rem;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}
.Nav h1 i:hover {
  cursor: pointer;
  color: #c2cae8;
}
